---
title: Core - Explore creators
currentUrl: explore-creators
---

extends layouts/layout

block content
  .page.pt-5.px-4.pt-sm-6.px-sm-5.pt-xl-7.px-xl-7
    .page-head
      .h3.mb-4.mb-xl-5 Explore creators
    .page-body.pb-4.pb-xl-6
      .card.mb-2.p-4.p-sm-5
        .card-head.d-block.d-sm-flex.align-items-center.border-bottom.pb-5.mb-5
          .nav.row.gx-4.flex-nowrap.d-md-flex.mb-5.mb-sm-0
            .btn-tab.btn-small.active.col.mx-2(data-bs-target="#tab-popular" data-bs-toggle="tab") Popular
            .btn-tab.btn-small.col.mx-2(data-bs-target="#tab-trending" data-bs-toggle="tab") Trending
          select.select.select-small.select-sm-wide.ms-auto
            option New sellers
            option Best sellers
        .card-body.p-0
          .caption-2.text-shades-1.mb-5 Viewing 5 of 5,000+ creators in the market
          +creators_list(demo_creators)

          