---
title: Core - Scheduled
currentUrl: products-scheduled
category: products
---

extends layouts/layout

block content
  .page.pt-5.px-4.pt-sm-6.px-sm-5.pt-xl-7.px-xl-7
    .page-head
      .h3.mb-4.mb-xl-5 Scheduled
    .page-body.pb-4.pb-xl-6
      .card.mb-2.p-4.p-sm-5
        .card-head.d-flex.flex-wrap.align-items-center.mb-2.mb-sm-7
          .title.title-color.purple.me-5.mb-4.mb-sm-0 Products
          .search-input.input-group.me-sm-5.mb-3.mb-sm-0
            button.input-group-text.transparent
              +i('search')
            input.form-control.input-small.input-action.rounded-2(type="text" placeholder="Search product")
        .card-body.p-0
          +scheduled_table_list(demo_drafts)

    .page-footer.d-none.d-md-block.p-4.p-sm-5.px-xl-7.mx-n4.mx-sm-n5.mx-xl-n7.mt-auto
     .container.p-0.d-block.d-sm-flex
      .d-flex.align-items-center.mb-4.mb-sm-0
        +i('check-all')(class="fill-shades-2 me-3")
        span.caption 2 products selected
      .d-flex.ms-auto
        button.btn-delete.flex-grow-1
          | Delete
          +i('trash')(class="ms-1")
        button.btn.ms-2.flex-grow-1 Publish
          