-
  var demo_products_1 = [{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    sales: {
      value: '$3,200',
      percent: '55.8%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['20','blue']]
    },
    likes: {
      value: '8',
      progress: [['40','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    price: '$64',
    status: true,
    sales: {
      value: '$2,200',
      percent: '5%',
      direction: 'down'
    },
    views: {
      value: '48k',
      progress: [['65','blue']]
    },
    likes: {
      value: '23',
      progress: [['46','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    price: '$56',
    status: false,
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    },
    likes: {
      value: '12',
      progress: [['100','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    sales: {
      value: '$3,200',
      percent: '55.8%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['20','blue']]
    },
    likes: {
      value: '8',
      progress: [['40','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    price: '$64',
    status: true,
    sales: {
      value: '$2,200',
      percent: '5%',
      direction: 'down'
    },
    views: {
      value: '48k',
      progress: [['65','blue']]
    },
    likes: {
      value: '23',
      progress: [['46','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    price: '$56',
    status: false,
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    },
    likes: {
      value: '12',
      progress: [['100','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    sales: {
      value: '$3,200',
      percent: '55.8%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['20','blue']]
    },
    likes: {
      value: '8',
      progress: [['40','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    price: '$64',
    status: true,
    sales: {
      value: '$2,200',
      percent: '5%',
      direction: 'down'
    },
    views: {
      value: '48k',
      progress: [['65','blue']]
    },
    likes: {
      value: '23',
      progress: [['46','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    price: '$56',
    status: false,
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    },
    likes: {
      value: '12',
      progress: [['100','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    sales: {
      value: '$3,200',
      percent: '55.8%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['20','blue']]
    },
    likes: {
      value: '8',
      progress: [['40','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    price: '$64',
    status: true,
    sales: {
      value: '$2,200',
      percent: '5%',
      direction: 'down'
    },
    views: {
      value: '48k',
      progress: [['65','blue']]
    },
    likes: {
      value: '23',
      progress: [['46','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    price: '$56',
    status: false,
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    },
    likes: {
      value: '12',
      progress: [['100','red']]
    }
  },]

  var demo_traffic = [{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    progress: [['34','light-red', '550k', 'Market'], ['10','light-blue', '720k', 'UI8'], ['30','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    progress: [['12','light-purple', '550k', 'Social media'], ['60','light-blue', '720k', 'UI8'], ['64','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    progress: [['10','light-blue', '720k', 'UI8'], ['23','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    progress: [['50','light-red', '550k', 'Market'], ['20','light-blue', '720k', 'UI8'], ['10','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    progress: [['30','light-green', '550k', 'Direct']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    progress: [['34','light-red', '550k', 'Market'], ['10','light-blue', '720k', 'UI8'], ['30','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    progress: [['12','light-purple', '550k', 'Social media'], ['60','light-blue', '720k', 'UI8'], ['64','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    progress: [['10','light-blue', '720k', 'UI8'], ['23','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    progress: [['50','light-red', '550k', 'Market'], ['20','light-blue', '720k', 'UI8'], ['10','light-yellow', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    progress: [['30','light-green', '550k', 'Direct']]
  }]

  var demo_viewers = [{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    progress: [['44','light-green', '550k', 'Market'], ['50','light-purple', '720k', 'UI8']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    progress: [['12','light-green', '550k', 'Social media'], ['30','light-purple', '720k', 'UI8']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    progress: [['100','light-green', '720k', 'UI8'], ['23','light-purple', '960k', 'Others']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    progress: [['52','light-green', '550k', 'Market'], ['30','light-purple', '720k', 'UI8']]
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    progress: [['10','light-green', '550k', 'Direct'], ['60','light-purple', '550k', 'Direct']]
  }]

  var demo_drafts = [{
    title: 'Fleet - Travel shopping UI design',
    img: 'img/content/product-5.jpg',
    caption: 'ui8.net/product/product-link',
    price: '65',
    date: 'Feb 2, 2020 at 10:55 PM',
    rating: '4.8'
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'ui8.net/product/product-link',
    price: '130',
    date: 'Feb 9, 2020 at 3:00 AM'
  },{
    title: 'Fleet - Travel shopping UI design',
    img: 'img/content/product-2.jpg',
    caption: 'ui8.net/product/product-link',
    price: '0',
    date: 'Apr 2, 2021 at 12:36 AM',
    rating: '4.9'
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'ui8.net/product/product-link',
    price: '32',
    date: 'Apr 9, 2021 at 2:03 PM'
  },{
    title: 'Fleet - Travel shopping UI design',
    img: 'img/content/product-1.jpg',
    caption: 'ui8.net/product/product-link',
    price: '106',
    date: 'Apr 23, 2021 at 10:00 PM'
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'ui8.net/product/product-link',
    price: '130',
    date: 'Feb 9, 2020 at 3:00 AM'
  }]

  var demo_comments = [{
    author: 'Samson Heathcote',
    userpic: 'img/content/user-2.jpg',
    time: '8h',
    comment: 'Awesome, keep it up,',
    product: {
      title: 'DSM - Geometry pattern',
      category: 'UI design kit',
      img: 'img/content/product-1.jpg',
    }
  },{
    author: 'Maureen Russel',
    userpic: 'img/content/user-3.jpg',
    time: '14h',
    comment: 'Dude, I am unable to download, please check the link. 😢',
    product: {
      title: 'Node - Crypto iOS UI design kit',
      category: 'UI design kit',
      img: 'img/content/product-2.jpg',
    }
  },{
    author: 'Whitney Nicolas',
    userpic: 'img/content/user-4.jpg',
    time: '16h',
    comment: 'Awesome, keep it up,',
    product: {
      title: 'TaskEz: Productivity App iOS UI Kit',
      category: 'UI design kit',
      img: 'img/content/product-3.jpg',
    }
  },{
    author: 'Amani Rempel',
    userpic: 'img/content/user-5.jpg',
    time: '19h',
    comment: 'Awesome, keep it up,',
    product: {
      title: 'Bitcloud - Crypto exchange UI kit',
      category: 'UI design kit',
      img: 'img/content/product-4.jpg',
    }
  },{
    author: 'Corene Toy',
    userpic: 'img/content/user-6.jpg',
    time: '1 day',
    comment: 'Awesome, keep it up,',
    product: {
      title: 'Academe 3D Education Icons',
      category: 'UI design kit',
      img: 'img/content/product-4.jpg',
    }
  }]

  var demo_released = [{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-1.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    rating: {
      value: '4.8',
      count: '87'
    },
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['60','blue']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    rating: {
      value: '4.8',
      count: '87'
    },
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '40k',
      progress: [['20','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-3.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '48k',
      progress: [['70','purple']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-4.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    rating: {
      value: '4.8',
      count: '87'
    },
    sales: {
      value: '$650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '24k',
      progress: [['90','red']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-5.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    rating: {
      value: '4.8',
      count: '87'
    },
    sales: {
      value: '$1,650',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    }
  },{
    title: 'Bento Matte 3D Illustration',
    img: 'img/content/product-2.jpg',
    caption: 'UI design kit',
    price: '$98',
    status: true,
    rating: {
      value: '4.8',
      count: '87'
    },
    sales: {
      value: '$3,250',
      percent: '22.3%',
      direction: 'up'
    },
    views: {
      value: '16k',
      progress: [['32','blue']]
    }
  }]

  var demo_card_messages = [{
    name: 'Winnifred',
    login: '@username',
    userpic: 'img/content/user-2.jpg',
    text: 'Message goes here 😊',
    time: '30m'
  },{
    name: 'Leland',
    login: '@username',
    userpic: 'img/content/user-3.jpg',
    text: 'Message goes here 😊',
    time: '1h'
  },{
    name: 'Jimmy',
    login: '@username',
    userpic: 'img/content/user-4.jpg',
    text: 'Message goes here 😊',
    time: '1h'
  },{
    name: 'Esther',
    login: '@username',
    userpic: 'img/content/user-5.jpg',
    text: 'Message goes here 😊',
    time: '1h'
  },{
    name: 'Chad',
    login: '@username',
    userpic: 'img/content/user-6.jpg',
    text: 'Message goes here 😊',
    time: '2h'
  }]

  var demo_customers = [{
    name: 'Chelsie Haley',
    login: '@username',
    userpic: 'img/content/user-2.jpg',
    email: 'chelsie@ui8.net',
    purchase: '4',
    lifetime: {
      value: '$380',
      percent: '12.8%',
      direction: 'down'
    },
    comments: '8',
    likes: '16',
  },{
    name: 'Filomena Fahey',
    login: '@username',
    userpic: 'img/content/user-3.jpg',
    email: 'fahey.designer@robot.co',
    purchase: '30',
    lifetime: {
      value: '$112',
      percent: '78.9%',
      direction: 'up'
    },
    comments: '37',
    likes: '76',
  },{
    name: 'Orion Luettgen',
    login: '@username',
    userpic: 'img/content/user-4.jpg',
    email: 'orion88@yahoo.com',
    purchase: '12',
    lifetime: {
      value: '$86',
      percent: '13%',
      direction: 'down'
    },
    comments: '5',
    likes: '10',
  },{
    name: 'Brown Beatty',
    login: '@username',
    userpic: 'img/content/user-5.jpg',
    email: 'brown.be@gmail.com',
    purchase: '24',
    lifetime: {
      value: '$36',
      percent: '2.9%',
      direction: 'down'
    },
    comments: '3',
    likes: '22',
  },{
    name: 'Bessie Runolfsson',
    login: '@username',
    userpic: 'img/content/user-6.jpg',
    email: 'bess@ui8.net',
    purchase: '36',
    lifetime: {
      value: '$99',
      percent: '66.7%',
      direction: 'up'
    },
    comments: '8',
    likes: '32',
  },{
    name: 'Ellie Harris',
    login: '@username',
    userpic: 'img/content/user-2.jpg',
    email: 'elly1509@gmail.com',
    purchase: '9',
    lifetime: {
      value: '$489',
      percent: '32.2%',
      direction: 'up'
    },
    comments: '33',
    likes: '60',
  },{
    name: 'Dora Littel',
    login: '@username',
    userpic: 'img/content/user-3.jpg',
    email: 'doraaa@gmail.com',
    purchase: '1',
    lifetime: {
      value: '$380',
      percent: '12.8%',
      direction: 'down'
    },
    comments: '8',
    likes: '17',
  },{
    name: 'Jessika Lowe',
    login: '@username',
    userpic: 'img/content/user-5.jpg',
    email: 'jess_l@gmail.com',
    purchase: '4',
    lifetime: {
      value: '$1,200',
      percent: '19.8%',
      direction: 'up'
    },
    comments: '3',
    likes: '12',
  }]

  var demo_purchase = [{
    title: 'Bento Matte 3D Illustration',
    caption: 'ui8.net/product/product-link',
    img: 'img/content/product-1.jpg',
    price: '$98',
    date: 'Apr 9, 2021'
  },{
    title: 'Bento Matte 3D Illustration',
    caption: 'ui8.net/product/product-link',
    img: 'img/content/product-2.jpg',
    price: '$99',
    date: 'Apr 10, 2021'
  },{
    title: 'Bento Matte 3D Illustration',
    caption: 'ui8.net/product/product-link',
    img: 'img/content/product-3.jpg',
    price: '$100',
    date: 'Apr 11, 2021'
  },{
    title: 'Bento Matte 3D Illustration',
    caption: 'ui8.net/product/product-link',
    img: 'img/content/product-4.jpg',
    price: '$101',
    date: 'Apr 12, 2021'
  }]

  var demo_followers = [{
    name: 'Reed Parker',
    userpic: 'img/content/user-2.jpg',
    products: '43',
    followers: '3,439',
    following: false,
    message: false,
    gallery: [
      'img/content/product-3.jpg', 'img/content/product-4.jpg', 'img/content/product-2.jpg'
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-3.jpg',
    products: '12',
    followers: '2,032',
    following: true,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  },{
    name: 'Rosetta Gottlieb',
    userpic: 'img/content/user-4.jpg',
    products: '78',
    followers: '178',
    following: false,
    message: true,
    gallery: [
      'img/content/product-4.jpg', 'img/content/product-1.jpg', 'img/content/product-5.jpg'
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-5.jpg',
    products: '43',
    followers: '1,200',
    following: true,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  },{
    name: 'Reed Parker',
    userpic: 'img/content/user-2.jpg',
    products: '43',
    followers: '3,439',
    following: false,
    message: false,
    gallery: [
      'img/content/product-3.jpg', 'img/content/product-4.jpg', 'img/content/product-2.jpg'
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-3.jpg',
    products: '12',
    followers: '2,032',
    following: true,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  }]

  var demo_following = [{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-3.jpg',
    products: '12',
    followers: '2,032',
    following: false,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  },{
    name: 'Rosetta Gottlieb',
    userpic: 'img/content/user-4.jpg',
    products: '78',
    followers: '178',
    following: false,
    message: true,
    gallery: [
      'img/content/product-4.jpg', 'img/content/product-1.jpg', 'img/content/product-5.jpg'
    ]
  },{
    name: 'Reed Parker',
    userpic: 'img/content/user-2.jpg',
    products: '43',
    followers: '3,439',
    following: false,
    message: false,
    gallery: [
      'img/content/product-3.jpg', 'img/content/product-4.jpg', 'img/content/product-2.jpg'
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-5.jpg',
    products: '43',
    followers: '1,200',
    following: false,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  },{
    name: 'Reed Parker',
    userpic: 'img/content/user-2.jpg',
    products: '43',
    followers: '3,439',
    following: false,
    message: false,
    gallery: [
      'img/content/product-3.jpg', 'img/content/product-4.jpg', 'img/content/product-2.jpg'
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-3.jpg',
    products: '12',
    followers: '2,032',
    following: false,
    message: false,
    gallery: [
      'img/content/product-1.jpg', 'img/content/product-2.jpg', 'img/content/product-3.jpg'
    ]
  }]

  var demo_countries = [{
    name: 'United States',
    flag: '🇺🇸',
    price: '$876.77'
  },{
    name: 'Germany',
    flag: '🇩🇪',
    price: '$128.77'
  },{
    name: 'Netherlands',
    flag: '🇳🇱',
    price: '$124.77'
  },{
    name: 'United Kingdom',
    flag: '🇬🇧',
    price: '$82.36'
  },{
    name: 'Italy',
    flag: '🇮🇹',
    price: '$32.00'
  },{
    name: 'Vietnam',
    flag: '🇻🇳',
    price: '$41.89'
  }]

  var demo_earning = [{
    date: 'Fri, Apr 9',
    status: 'Pending',
    count: '28',
    earnings: '$3,140.00'
  },{
    date: 'Sat, Apr 10',
    status: 'Paid',
    count: '24',
    earnings: '$2,568.00'
  },{
    date: 'Sun, Apr 11',
    status: 'Pending',
    count: '16',
    earnings: '$1,375.88'
  },{
    date: 'Mon, Apr 12',
    status: 'Paid',
    count: '48',
    earnings: '$4,955.86'
  },{
    date: 'Tue, Apr 13',
    status: 'Pending',
    count: '8',
    earnings: '$2,233.44'
  },{
    date: 'Wed, Apr 14',
    status: 'Paid',
    count: '64',
    earnings: '$6,140.00'
  },{
    date: 'Thu, Apr 15',
    status: 'Paid',
    count: '74',
    earnings: '$789.32'
  }]

  var demo_refounds = [{
    title: 'Bento Matte 3D Illustration',
    caption: 'UI design kit',
    img: 'img/content/product-1.jpg',
    status: 'New request',
    date: '13 Sep',
    customer: 'Kyler Kuphal',
    userpic: 'img/content/user-2.jpg'
  },{
    title: 'Node - Crypto iOS',
    caption: 'UI design kit',
    img: 'img/content/product-3.jpg',
    status: 'In progress',
    date: '12 Sep',
    customer: 'Eldred Lockman',
    userpic: 'img/content/user-3.jpg'
  },{
    title: 'TaskEz: Productivity App iOS',
    caption: 'UI design kit',
    img: 'img/content/product-2.jpg',
    status: 'New request',
    date: '11 Sep',
    customer: 'Carlo Herman',
    userpic: 'img/content/user-4.jpg'
  },{
    title: 'Fleet - Travel shopping',
    caption: 'UI design kit',
    img: 'img/content/product-4.jpg',
    status: 'New request',
    date: '10 Sep',
    customer: 'Camille Koss',
    userpic: 'img/content/user-5.jpg'
  },{
    title: 'Fleet - Travel shopping',
    caption: 'UI design kit',
    img: 'img/content/product-5.jpg',
    status: 'New request',
    date: '9 Sep',
    customer: 'Reyna Nikolaus',
    userpic: 'img/content/user-1.jpg'
  }]

  var demo_payouts = [{
    date: 'Oct 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$98,165.00',
    amount: '$128,899.00'
  },{
    date: 'Sep 2021',
    status: 'Paid',
    method: 'SWIFT',
    earnings: '$128,899.00',
    amount: '$43,899.00'
  },{
    date: 'Aug 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$134,899.00',
    amount: '$128,899.00'
  },{
    date: 'Jul 2021',
    status: 'Paid',
    method: 'SWIFT',
    earnings: '$128,899.00',
    amount: '$45,111.00'
  },{
    date: 'Jun 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$128,899.00',
    amount: '$128,899.00'
  },{
    date: 'Oct 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$98,165.00',
    amount: '$128,899.00'
  },{
    date: 'Sep 2021',
    status: 'Paid',
    method: 'SWIFT',
    earnings: '$128,899.00',
    amount: '$43,899.00'
  },{
    date: 'Aug 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$134,899.00',
    amount: '$128,899.00'
  },{
    date: 'Jul 2021',
    status: 'Paid',
    method: 'SWIFT',
    earnings: '$128,899.00',
    amount: '$45,111.00'
  },{
    date: 'Jun 2021',
    status: 'Paid',
    method: 'Paypal',
    earnings: '$128,899.00',
    amount: '$128,899.00'
  },]

  var demo_transactions = [{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },{
    date: '14 Oct 2021',
    type: 'Author fee',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Author fee',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },{
    date: '14 Oct 2021',
    type: 'Author fee',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },{
    date: '14 Oct 2021',
    type: 'Author fee',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },{
    date: '14 Oct 2021',
    type: 'Sale',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$98.00',
    amount: {
      value: '+$88.20'
    }
  },{
    date: '14 Oct 2021',
    type: 'Author fee',
    detail: {
      name: 'Fleet - Travel shopping UI Design kit',
      invoice: 'UI8-8934AS'
    },
    price: '$123.00',
    amount: {
      value: '-$9.34',
      direction: 'down' 
    }
  },]

  var demo_recent_posts = [{
    post: {
      img: 'img/content/product-1.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'video'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '-1.2x',
      direction: 'down' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['100','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-2.jpg',
      title: 'HTML version has been released',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-3.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '130',
      progress: [['54','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-2.jpg',
      title: 'HTML version has been released',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-3.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '130',
      progress: [['54','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-1.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'video'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '-1.2x',
      direction: 'down' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['100','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-2.jpg',
      title: 'HTML version has been released',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-3.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '130',
      progress: [['54','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-2.jpg',
      title: 'HTML version has been released',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '256',
      progress: [['20','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },{
    post: {
      img: 'img/content/product-3.jpg',
      title: 'Hurry up! You got 50% off - all items 🔥',
      type: 'image'
    },
    twitter: 'https://twitter.com/ui8',
    facebook: 'https://www.facebook.com/ui8.net/',
    distribution: {
      value: '2.6x',
      direction: 'up' 
    },
    clicks: {
      value: '26',
      progress: [['64','red']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    views: {
      value: '130',
      progress: [['54','green']],
      percent: {
        value: '17.3%',
        direction: 'up'
      }
    },
    engagement: {
      value: '48k',
      progress: [['84','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    }
  },]

  var demo_notification = [{
    name: 'Domenica',
    login: '@domenica',
    time: '1h',
    new: true,
    userpic: 'img/content/user-2.jpg',
    category: 'comment',
    message: '"Great work, I just purchased this product"'
  },{
    name: 'Janice',
    login: '@ethel',
    time: '2h',
    new: true,
    userpic: 'img/content/user-3.jpg',
    category: 'favorite',
    message: '"Great work, I just purchased this product"'
  },{
    name: 'Janiya',
    login: '@domenica',
    time: '3h',
    userpic: 'img/content/user-4.jpg',
    category: 'purchase',
    message: '"Great work, I just purchased this product"'
  },{
    name: 'Danial',
    login: '@danial',
    time: '4h',
    userpic: 'img/content/user-5.jpg',
    category: 'star',
    message: '"Great work, I just purchased this product"'
  },{
    name: 'Esmeralda',
    login: '@esmeralda',
    time: '5h',
    userpic: 'img/content/user-2.jpg',
    category: 'favorite',
    message: '"Great work, I just purchased this product"'
  },]

  var demo_messages = [{
    name: 'Jarret Waelchi',
    userpic: 'img/content/user-2.jpg',
    time: '03:30PM',
    message: 'When do you release the coded for the Fleet - Travel kit?',
    online: true,
    new: false
  },{
    name: 'Orval Casper',
    userpic: 'img/content/user-3.jpg',
    time: '11:59AM',
    message: 'When do you release the coded for the Fleet - Travel kit?',
    online: true,
    new: false
  },{
    name: 'Michael Emard',
    userpic: 'img/content/user-4.jpg',
    time: '09:30AM',
    message: 'When do you release the coded for the Fleet - Travel kit?',
    online: false,
    new: true
  },{
    name: 'Rouben Ward',
    userpic: 'img/content/user-5.jpg',
    time: '08:00AM',
    message: 'When do you release the coded for the Fleet - Travel kit?',
    online: true,
    new: false
  },{
    name: 'Evalyn Jenkins',
    userpic: 'img/content/user-6.jpg',
    time: '07:01AM',
    message: 'When you release the coded for the Fleet - Travel kit?',
    online: false,
    new: true
  },]

  var demo_creators = [{
    name: 'Reed Parker',
    userpic: 'img/content/user-2.jpg',
    products: '16',
    followers: '3,568',
    products_list: [
      'img/content/product-1.jpg',
      'img/content/product-2.jpg',
      'img/content/product-3.jpg',
      'img/content/product-4.jpg',
      'img/content/product-5.jpg',
      'img/content/product-1.jpg',
    ]
  },{
    name: 'Tristian Hermiston',
    userpic: 'img/content/user-3.jpg',
    products: '34',
    followers: '2,346',
    products_list: [
      'img/content/product-1.jpg',
      'img/content/product-3.jpg',
      'img/content/product-2.jpg',
      'img/content/product-5.jpg',
      'img/content/product-1.jpg',
      'img/content/product-4.jpg',
    ]
  },{
    name: 'Reed Parker',
    userpic: 'img/content/user-4.jpg',
    products: '48',
    followers: '1,500',
    products_list: [
      'img/content/product-4.jpg',
      'img/content/product-2.jpg',
      'img/content/product-1.jpg',
      'img/content/product-5.jpg',
      'img/content/product-1.jpg',
      'img/content/product-3.jpg',
    ]
  },{
    name: 'Nicola Gislason',
    userpic: 'img/content/user-5.jpg',
    products: '23',
    followers: '1,897',
    products_list: [
      'img/content/product-2.jpg',
      'img/content/product-5.jpg',
      'img/content/product-1.jpg',
      'img/content/product-4.jpg',
      'img/content/product-3.jpg',
      'img/content/product-1.jpg',
    ]
  },{
    name: 'Hester Grady',
    userpic: 'img/content/user-6.jpg',
    products: '96',
    followers: '5,327',
    products_list: [
      'img/content/product-3.jpg',
      'img/content/product-2.jpg',
      'img/content/product-1.jpg',
      'img/content/product-4.jpg',
      'img/content/product-5.jpg',
      'img/content/product-1.jpg',
    ]
  },]

  var demo_affiliate = [{
    date: 'Oct 09, 2021',
    impressions: {
      value: '263',
      progress: [['60','blue']],
      percent: {
        value: '37.2%',
        direction: 'up'
      }
    },
    clicks: {
      value: '72',
      progress: [['20','purple']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    earnings: '$.00',
    epc: '$0.00',
  },{
    date: 'Oct 13, 2021',
    impressions: {
      value: '20',
      progress: [['100','blue']],
      percent: {
        value: '20.36%',
        direction: 'down'
      }
    },
    clicks: {
      value: '364',
      progress: [['64','purple']],
      percent: {
        value: '65.7%',
        direction: 'up'
      }
    },
    earnings: '$18.00',
    epc: '$5.00',
  },{
    date: 'Oct 24, 2021',
    impressions: {
      value: '48k',
      progress: [['100','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    },
    clicks: {
      value: '26',
      progress: [['64','purple']],
      percent: {
        value: '29.7%',
        direction: 'up'
      }
    },
    earnings: '$7.00',
    epc: '$6.00',
  },{
    date: 'Oct 26, 2021',
    impressions: {
      value: '48',
      progress: [['29','blue']],
      percent: {
        value: '2.2%',
        direction: 'down'
      }
    },
    clicks: {
      value: '26',
      progress: [['64','purple']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    earnings: '$116.00',
    epc: '$9.00',
  },{
    date: 'Oct 29, 2021',
    impressions: {
      value: '36',
      progress: [['100','blue']],
      percent: {
        value: '48.2%',
        direction: 'down'
      }
    },
    clicks: {
      value: '65',
      progress: [['20','purple']],
      percent: {
        value: '22.3%',
        direction: 'up'
      }
    },
    earnings: '$58.00',
    epc: '$0.07',
  },{
    date: 'Oct 29, 2021',
    impressions: {
      value: '15',
      progress: [['48','blue']],
      percent: {
        value: '20.2%',
        direction: 'down'
      }
    },
    clicks: {
      value: '34',
      progress: [['64','purple']],
      percent: {
        value: '22.3%',
        direction: 'down'
      }
    },
    earnings: '$87.00',
    epc: '$0.08',
  },]