//- Description no longer than 155 characters
meta(name="description" content="Core – Dashboard Builder")
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Core – Dashboard Builder")
meta(name="twitter:description" content="Core – Dashboard Builder")
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://images.ui8.net/uploads/thumbnail_1636636019240.png")
//- Open Graph data
meta(property="og:title" content="Core – Dashboard Builder")
meta(property="og:type" content="Core is a clean and minimal dashboard UI Kit targeting a wide variety of use cases for desktop, tablet, and mobile applications in awesome light or dark mode 🔥")
meta(property="og:url" content="https://ui8.net/ui8/products/core-dashboard-builder")
meta(property="og:image" content="https://images.ui8.net/uploads/thumbnail_1636636019240.png")
meta(property="og:description" content="Core – Dashboard Builder" )
meta(property="og:site_name" content="Core – Dashboard Builder")
meta(property="fb:admins" content="132951670226590")